html, body {
    height: 100%;
    overflow: hidden
}

body{
	margin:0;
	padding:0;
	line-height: 1.5em;
  background: #fff url(../img/loader.gif) no-repeat center center;height: 100%;width: 100%; overflow: hidden
}


.controls-row img {
max-width: none;
}

/*Hack*/
.thumbnail img {
    max-width: 100% !Important;
}
.fill{height: 100%; min-height: 100%;}
.shadow {
    box-shadow: 3px 0px 7px #dbdbdb;
}

#login{ width: 100%;height: 100%; 
         background: #303030 url(../img/application/logo.png) no-repeat 10px 10px fixed !Important;
         color: #fff; position: absolute; z-index: 2000; top: 0px; left: 0px;}

#login .form {
    display: block; padding-top: 100px; padding-left: 165px; width: 370px; text-align: right
}
#login h1{display: block; text-align: right; color: #fff !Important;font-size: 18px !Important; font-weight: normal !Important}

#layout{position: relative; height: 100%; display: none; }
#layout.loaded{display: block; z-index: 1;}

#contentwrapper{
	float: left;
	width: 100%;
	height: 100%;
	z-index: 10
}

#contentcolumn{
	margin-left: 91px; /*Set left margin to LeftColumnWidth*/
	background: #fff url(../img/loader.gif) no-repeat center center;
	z-index: 10
}

#contentcolumn iframe{display: block; position: relative; height: 100%; width: 100%; border: none;}
#leftcolumn{
  float: left;
	width: 395px; /*Width of left column*/
	margin-left: -100%;
	height: 100%;
	z-index: 20;
}

#applications{z-index: 1000; border-right: 1px solid #4c4b4b; background: #1d1d1d; width: 90px; height: 100%;position: relative; text-align: center}
#applications ul{list-style: none; display: block; margin: 0px; padding: 0px; }
#applications ul li{list-style: none; display: block; margin: 0px;margin-bottom: 5px; padding: 0px; line-height: 15px;}
#applications ul li a {
        display: block;
        text-decoration: none;
        font-size: 10px;
        text-align: center;
        padding-top: 20px;
        border-bottom: 1px solid #343434;
        height: 55px;}
#applications a i{font-size: 24px; display: inline-block; text-align: center; clear: both; color: #939393;}
#applications a span{display: block; visibility: hidden; font-size 10px; color: #939393;}
#applications ul:hover li a span{visibility: visible;}
#applications .help{position: absolute; bottom: 0; left: 0; width: 91px; opacity: 0.4}
#applications.faded li{opacity: 0.4}


#avatar{height: 65px;  padding-top: 25px; text-align: center; border-bottom: 1px solid #343434;}
#avatar a{margin: 0 auto; display: block; width: 38px;height: 38px; 
    background: no-repeat center center;  }
#avatar a img{border-radius: 500px;}
#notifcations{z-index: 1000;}

#search form{
  padding: 27px 20px 20px 20px; 
  display: block;
  margin: 0px;
  z-index: 100;
  position: relative;
}

#navigation{left: 91px; top: 0; position: absolute; background: #fff; z-index: 100}
#tree{padding: 15px 0px 20px 0px; position: relative; z-index: 100 !Important; background: #fff}
#searchResults{display: none;  position: relative; z-index: 100}

#contextMenu{z-index: 50; position: absolute; top: 0px; left: 100%; min-width: 250px;}
#dialog{min-width: 500px; left: 91px; top: 0; position: absolute; z-index: 200; display: inline-block;}


.umb-search-field{font-size: 12px; width: 235px; border-radius: 0 !Important; border-color: #f5f5f5; padding: 5px 7px  !Important; 
background: url(search.png) no-repeat  225px 8px #fff}

.umb-modalcolumn{background: #fff; border-left: #f6f6f6 1px solid;}
.umb-modalcolumn .umb-panel-header{white-space: nowrap}
.umb-modalcolumn .umb-panel-body{padding: 0px}
.no-padding .umb-panel-body{padding: 0px}

.umb-modalcolumn .umb-panel-header .btn{position: absolute;top: 13px; right: 15px}
.umb-modalcolumn .umb-modal-close-icon{position: absolute; top: 17px; left: 27px;}
.umb-modalcolumn .umb-modal-close-icon i{ background: url(close.png);width: 18px; height: 18px }
.umb-modalcolumn iframe{ border: none;padding: 0px;margin: 0px;}

.umb-modalcolumn h1{
  padding-left: 20px !Important;
  padding-right: 20px  !Important;
  padding-top: 35px  !Important;
  text-transform: capitalize  !Important;
}

.umb-gear{width: 12px; height:12px; display:inline-block}

.umb-dialog{padding: 20px 20px 0px 20px;}
.umb-dialog .umb-dialog-body{}
.umb-dialog .umb-btn-toolbar{ text-align: right; padding-top: 15px; margin-top: 30px;clear: both; border-top: #efefef 1px solid}


h5.search{ font-size: 12px;text-transform: uppercase;font-weight: bold; margin: 7px 10px 0px 20px;}
.umb-search-results{ list-style: none; margin: 0px 10px 0px 20px; }

/* STANDARD CONTENT REPRESENTATION, for use in search, pickers, etc */
.umb-icon-item{ padding: 2px 0px 2px 30px;display: block;position: relative; }
.umb-icon-item i{ margin: 7px 0px 0px -30px;}
.umb-icon-item a{ text-decoration: none;}
.umb-icon-item a:hover div{ text-decoration: underline;}
.umb-icon-item div {
    color: #525252;
    padding-top: 3px;
    height: 15px;
    font-size: 12px;
}
.umb-icon-item small{ color: #999; font-size: 10px }
.umb-icon-item .umb-options{ right: 3px;top: 3px;position: absolute; visibility: hidden}
.umb-icon-item:hover .umb-options{ visibility: visible}
.umb-icon-item .umb-spr{float: left}


//***************** MODAL *************//
.selected{border-color: red !Important; background: red !Important;}

.umb-modal.fade {
  top: 0 !Important;
  left: -100% !Important;
  width: 0px !Important;

  -webkit-transition: left 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
   height: 100% !Important;
}
.umb-modal.fade.in {
    top: 0 !Important;
    left: 100% !Important;
    margin-left: -400px;
    width: 400px !Important;
    height: 100% !Important;
    display: block;
}



.fade-hide-setup, .fade-show-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.fade-hide-setup {
  opacity:1;
}
.fade-hide-setup.fade-hide-start {
  opacity:0;
}
.fade-show-setup {
  opacity:0;
}
.fade-show-setup.fade-show-start {
  opacity:1;
}


.slide-hide-setup, .slide-show-setup {
  -webkit-transition:all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s;
  -moz-transition:all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s;
  -o-transition:all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s;
  transition:all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s;
}
.slide-hide-setup {
  margin-left: 0;
}
.slide-hide-setup.slide-hide-start {
  margin-left: -100%;
}
.slide-show-setup {
  margin-left: -100%;
}
.slide-show-setup.slide-show-start {
  margin-left: 0;
}


