body 
{
    background: #fff;
    padding: 0;
    margin: 0;
    border: none;
}

/* PANE */
.umbracoDialog .umb-pane{ padding: 25px 25px 0px 25px   }

.umbracoDialog .umb-buttons{margin-top: 0px; margin-left: -25px; }
.umbracoDialog .umb-pane .umb-buttons{ margin-left: -25px; }
.umbracoDialog .umb-el-wrap { padding: 0; }
.umbracoDialog .control-label { /*display: inline-block;*/ }

.umb-spr
{
	float: left;
	background-image: url(actions.png);
	background-position: -7px -8px;	
	margin-top: 1px;
	width: 18px;
	height: 18px;
	margin: 1px 13px 1px 0px;
}

.spr-abacus{ background-position: 0 0; width: 18px; height: 18px; } 
.spr-access_point{ background-position: 0 -38px; width: 18px; height: 18px; } 
.spr-add{ background-position: 0 -76px; width: 18px; height: 18px; } 
.spr-administrator{ background-position: 0 -114px; width: 18px; height: 18px; } 
.spr-alarm{ background-position: 0 -152px; width: 18px; height: 18px; } 
.spr-arrow_bidirectional{ background-position: 0 -190px; width: 18px; height: 18px; } 
.spr-arrow_down2{ background-position: 0 -228px; width: 18px; height: 18px; } 
.spr-arrow_left2{ background-position: 0 -266px; width: 18px; height: 18px; } 
.spr-arrow_right2{ background-position: 0 -304px; width: 18px; height: 18px; } 
.spr-arrow_up2{ background-position: 0 -342px; width: 18px; height: 18px; } 
.spr-attachment{ background-position: 0 -380px; width: 18px; height: 18px; } 
.spr-audio_knob{ background-position: 0 -418px; width: 18px; height: 18px; } 
.spr-barcode{ background-position: 0 -456px; width: 18px; height: 18px; } 
.spr-battery_empty{ background-position: 0 -494px; width: 18px; height: 18px; } 
.spr-battery_full{ background-position: 0 -532px; width: 18px; height: 18px; } 
.spr-battery_half{ background-position: 0 -570px; width: 18px; height: 18px; } 
.spr-bell{ background-position: 0 -608px; width: 18px; height: 18px; } 
.spr-bill{ background-position: 0 -646px; width: 18px; height: 18px; } 
.spr-binoculars{ background-position: 0 -684px; width: 18px; height: 18px; } 
.spr-bold{ background-position: 0 -722px; width: 18px; height: 18px; } 
.spr-book{ background-position: 0 -760px; width: 18px; height: 18px; } 
.spr-bookmark{ background-position: 0 -798px; width: 18px; height: 18px; } 
.spr-briefcase{ background-position: 0 -836px; width: 18px; height: 18px; } 
.spr-brightness{ background-position: 0 -874px; width: 18px; height: 18px; } 
.spr-broken_link{ background-position: 0 -912px; width: 18px; height: 18px; } 
.spr-brush{ background-position: 0 -950px; width: 18px; height: 18px; } 
.spr-burn_blu-ray{ background-position: 0 -988px; width: 18px; height: 18px; } 
.spr-burn_blu-ray2{ background-position: 0 -1026px; width: 18px; height: 18px; } 
.spr-burn_dvd{ background-position: 0 -1064px; width: 18px; height: 18px; } 
.spr-burn_dvd2{ background-position: 0 -1102px; width: 18px; height: 18px; } 
.spr-cabinet{ background-position: 0 -1140px; width: 18px; height: 18px; } 
.spr-calculator{ background-position: 0 -1178px; width: 18px; height: 18px; } 
.spr-calendar{ background-position: 0 -1216px; width: 18px; height: 18px; } 
.spr-camera{ background-position: 0 -1254px; width: 18px; height: 18px; } 
.spr-cancel{ background-position: 0 -1292px; width: 18px; height: 18px; } 
.spr-card_clubs{ background-position: 0 -1330px; width: 18px; height: 18px; } 
.spr-card_diamonds{ background-position: 0 -1368px; width: 18px; height: 18px; } 
.spr-card_hearts{ background-position: 0 -1406px; width: 18px; height: 18px; } 
.spr-card_spades{ background-position: 0 -1444px; width: 18px; height: 18px; } 
.spr-certificate-2{ background-position: 0 -1482px; width: 18px; height: 18px; } 
.spr-certificate{ background-position: 0 -1520px; width: 18px; height: 18px; } 
.spr-chat-exclamation{ background-position: 0 -1558px; width: 18px; height: 18px; } 
.spr-checkmark{ background-position: 0 -1596px; width: 18px; height: 18px; } 
.spr-checkmark2{ background-position: 0 -1634px; width: 18px; height: 18px; } 
.spr-clip{ background-position: 0 -1672px; width: 18px; height: 18px; } 
.spr-clipboard{ background-position: 0 -1710px; width: 18px; height: 18px; } 
.spr-clock{ background-position: 0 -1748px; width: 18px; height: 18px; } 
.spr-close{ background-position: 0 -1786px; width: 18px; height: 18px; } 
.spr-cloud{ background-position: 0 -1824px; width: 18px; height: 18px; } 
.spr-cloud2{ background-position: 0 -1862px; width: 18px; height: 18px; } 
.spr-coin{ background-position: 0 -1900px; width: 18px; height: 18px; } 
.spr-compress{ background-position: 0 -1938px; width: 18px; height: 18px; } 
.spr-connect{ background-position: 0 -1976px; width: 18px; height: 18px; } 
.spr-contrast{ background-position: -38px 0; width: 18px; height: 18px; } 
.spr-copy{ background-position: -38px -38px; width: 18px; height: 18px; } 
.spr-cross{ background-position: -38px -76px; width: 18px; height: 18px; } 
.spr-cutter{ background-position: -38px -114px; width: 18px; height: 18px; } 
.spr-delete{ background-position: -38px -152px; width: 18px; height: 18px; } 
.spr-dial{ background-position: -38px -190px; width: 18px; height: 18px; } 
.spr-diary{ background-position: -38px -228px; width: 18px; height: 18px; } 
.spr-dimensions{ background-position: -38px -266px; width: 18px; height: 18px; } 
.spr-directional_down{ background-position: -38px -304px; width: 18px; height: 18px; } 
.spr-directional_left{ background-position: -38px -342px; width: 18px; height: 18px; } 
.spr-directional_right{ background-position: -38px -380px; width: 18px; height: 18px; } 
.spr-directional_up{ background-position: -38px -418px; width: 18px; height: 18px; } 
.spr-disconnect{ background-position: -38px -456px; width: 18px; height: 18px; } 
.spr-diskette{ background-position: -38px -494px; width: 18px; height: 18px; } 
.spr-document{ background-position: -38px -532px; width: 18px; height: 18px; } 
.spr-door{ background-position: -38px -570px; width: 18px; height: 18px; } 
.spr-download2{ background-position: -38px -608px; width: 18px; height: 18px; } 
.spr-dropper{ background-position: -38px -646px; width: 18px; height: 18px; } 
.spr-earphones{ background-position: -38px -684px; width: 18px; height: 18px; } 
.spr-effects{ background-position: -38px -722px; width: 18px; height: 18px; } 
.spr-eject{ background-position: -38px -760px; width: 18px; height: 18px; } 
.spr-emoticon_angry{ background-position: -38px -798px; width: 18px; height: 18px; } 
.spr-emoticon_confused{ background-position: -38px -836px; width: 18px; height: 18px; } 
.spr-emoticon_grin{ background-position: -38px -874px; width: 18px; height: 18px; } 
.spr-emoticon_in_love{ background-position: -38px -912px; width: 18px; height: 18px; } 
.spr-emoticon_sad{ background-position: -38px -950px; width: 18px; height: 18px; } 
.spr-emoticon_sleeping{ background-position: -38px -988px; width: 18px; height: 18px; } 
.spr-emoticon_smile{ background-position: -38px -1026px; width: 18px; height: 18px; } 
.spr-encrypt{ background-position: -38px -1064px; width: 18px; height: 18px; } 
.spr-eraser{ background-position: -38px -1102px; width: 18px; height: 18px; } 
.spr-eye{ background-position: -38px -1140px; width: 18px; height: 18px; } 
.spr-eye_closed{ background-position: -38px -1178px; width: 18px; height: 18px; } 
.spr-fast_forward{ background-position: -38px -1216px; width: 18px; height: 18px; } 
.spr-file{ background-position: -38px -1254px; width: 18px; height: 18px; } 
.spr-fill{ background-position: -38px -1292px; width: 18px; height: 18px; } 
.spr-fingerprint{ background-position: -38px -1330px; width: 18px; height: 18px; } 
.spr-firewall{ background-position: -38px -1368px; width: 18px; height: 18px; } 
.spr-first{ background-position: -38px -1406px; width: 18px; height: 18px; } 
.spr-folder{ background-position: -38px -1444px; width: 18px; height: 18px; } 
.spr-font{ background-position: -38px -1482px; width: 18px; height: 18px; } 
.spr-font_size{ background-position: -38px -1520px; width: 18px; height: 18px; } 
.spr-game_control{ background-position: -38px -1558px; width: 18px; height: 18px; } 
.spr-gear{ background-position: -38px -1596px; width: 18px; height: 18px; } 
.spr-group{ background-position: -38px -1634px; width: 18px; height: 18px; } 
.spr-hammer{ background-position: -38px -1672px; width: 18px; height: 18px; } 
.spr-hand_point{ background-position: -38px -1710px; width: 18px; height: 18px; } 
.spr-hand_thumbsdown{ background-position: -38px -1748px; width: 18px; height: 18px; } 
.spr-hand_thumbsup{ background-position: -38px -1786px; width: 18px; height: 18px; } 
.spr-hard_disk{ background-position: -38px -1824px; width: 18px; height: 18px; } 
.spr-headset{ background-position: -38px -1862px; width: 18px; height: 18px; } 
.spr-heart{ background-position: -38px -1900px; width: 18px; height: 18px; } 
.spr-help{ background-position: -38px -1938px; width: 18px; height: 18px; } 
.spr-help2{ background-position: -38px -1976px; width: 18px; height: 18px; } 
.spr-history{ background-position: -76px 0; width: 18px; height: 18px; } 
.spr-home{ background-position: -76px -38px; width: 18px; height: 18px; } 
.spr-hourglass{ background-position: -76px -76px; width: 18px; height: 18px; } 
.spr-hourglass2{ background-position: -76px -114px; width: 18px; height: 18px; } 
.spr-id{ background-position: -76px -152px; width: 18px; height: 18px; } 
.spr-info{ background-position: -76px -190px; width: 18px; height: 18px; } 
.spr-info2{ background-position: -76px -228px; width: 18px; height: 18px; } 
.spr-italic{ background-position: -76px -266px; width: 18px; height: 18px; } 
.spr-item{ background-position: -76px -304px; width: 18px; height: 18px; } 
.spr-key{ background-position: -76px -342px; width: 18px; height: 18px; } 
.spr-last{ background-position: -76px -380px; width: 18px; height: 18px; } 
.spr-lightbulb{ background-position: -76px -418px; width: 18px; height: 18px; } 
.spr-link{ background-position: -76px -456px; width: 18px; height: 18px; } 
.spr-list{ background-position: -76px -494px; width: 18px; height: 18px; } 
.spr-location{ background-position: -76px -532px; width: 18px; height: 18px; } 
.spr-lock{ background-position: -76px -570px; width: 18px; height: 18px; } 
.spr-lock_open{ background-position: -76px -608px; width: 18px; height: 18px; } 
.spr-login{ background-position: -76px -646px; width: 18px; height: 18px; } 
.spr-mail{ background-position: -76px -684px; width: 18px; height: 18px; } 
.spr-mail_open{ background-position: -76px -722px; width: 18px; height: 18px; } 
.spr-messenger{ background-position: -76px -760px; width: 18px; height: 18px; } 
.spr-microhpone{ background-position: -76px -798px; width: 18px; height: 18px; } 
.spr-microphone{ background-position: -76px -836px; width: 18px; height: 18px; } 
.spr-money_bag{ background-position: -76px -874px; width: 18px; height: 18px; } 
.spr-monitor{ background-position: -76px -912px; width: 18px; height: 18px; } 
.spr-moon{ background-position: -76px -950px; width: 18px; height: 18px; } 
.spr-music{ background-position: -76px -988px; width: 18px; height: 18px; } 
.spr-music_folder{ background-position: -76px -1026px; width: 18px; height: 18px; } 
.spr-music_library{ background-position: -76px -1064px; width: 18px; height: 18px; } 
.spr-next{ background-position: -76px -1102px; width: 18px; height: 18px; } 
.spr-notepad{ background-position: -76px -1140px; width: 18px; height: 18px; } 
.spr-paragraph_align_left{ background-position: -76px -1178px; width: 18px; height: 18px; } 
.spr-paragraph_align_right{ background-position: -76px -1216px; width: 18px; height: 18px; } 
.spr-paragraph_justify{ background-position: -76px -1254px; width: 18px; height: 18px; } 
.spr-password{ background-position: -76px -1292px; width: 18px; height: 18px; } 
.spr-paste{ background-position: -76px -1330px; width: 18px; height: 18px; } 
.spr-pause{ background-position: -76px -1368px; width: 18px; height: 18px; } 
.spr-pen{ background-position: -76px -1406px; width: 18px; height: 18px; } 
.spr-pencil{ background-position: -76px -1444px; width: 18px; height: 18px; } 
.spr-phone{ background-position: -76px -1482px; width: 18px; height: 18px; } 
.spr-photo_album{ background-position: -76px -1520px; width: 18px; height: 18px; } 
.spr-pictures_folder{ background-position: -76px -1558px; width: 18px; height: 18px; } 
.spr-play{ background-position: -76px -1596px; width: 18px; height: 18px; } 
.spr-point{ background-position: -76px -1634px; width: 18px; height: 18px; } 
.spr-power{ background-position: -76px -1672px; width: 18px; height: 18px; } 
.spr-previous{ background-position: -76px -1710px; width: 18px; height: 18px; } 
.spr-print{ background-position: -76px -1748px; width: 18px; height: 18px; } 
.spr-pyramid{ background-position: -76px -1786px; width: 18px; height: 18px; } 
.spr-random{ background-position: -76px -1824px; width: 18px; height: 18px; } 
.spr-record{ background-position: -76px -1862px; width: 18px; height: 18px; } 
.spr-redo{ background-position: -76px -1900px; width: 18px; height: 18px; } 
.spr-reload{ background-position: -76px -1938px; width: 18px; height: 18px; } 
.spr-repeat{ background-position: -76px -1976px; width: 18px; height: 18px; } 
.spr-resize2{ background-position: -114px 0; width: 18px; height: 18px; } 
.spr-rewind{ background-position: -114px -38px; width: 18px; height: 18px; } 
.spr-rotate{ background-position: -114px -76px; width: 18px; height: 18px; } 
.spr-round{ background-position: -114px -114px; width: 18px; height: 18px; } 
.spr-ruler_square{ background-position: -114px -152px; width: 18px; height: 18px; } 
.spr-satellite{ background-position: -114px -190px; width: 18px; height: 18px; } 
.spr-scissors{ background-position: -114px -228px; width: 18px; height: 18px; } 
.spr-screwdriver{ background-position: -114px -266px; width: 18px; height: 18px; } 
.spr-security{ background-position: -114px -304px; width: 18px; height: 18px; } 
.spr-shopping_basket{ background-position: -114px -342px; width: 18px; height: 18px; } 
.spr-software24{ background-position: -114px -380px; width: 18px; height: 18px; } 
.spr-spam{ background-position: -114px -418px; width: 18px; height: 18px; } 
.spr-speaker{ background-position: -114px -456px; width: 18px; height: 18px; } 
.spr-speaker2{ background-position: -114px -494px; width: 18px; height: 18px; } 
.spr-sphere{ background-position: -114px -532px; width: 18px; height: 18px; } 
.spr-spreadsheet{ background-position: -114px -570px; width: 18px; height: 18px; } 
.spr-square{ background-position: -114px -608px; width: 18px; height: 18px; } 
.spr-star{ background-position: -114px -646px; width: 18px; height: 18px; } 
.spr-stats_bars{ background-position: -114px -684px; width: 18px; height: 18px; } 
.spr-stats_lines{ background-position: -114px -722px; width: 18px; height: 18px; } 
.spr-stats_pie{ background-position: -114px -760px; width: 18px; height: 18px; } 
.spr-stop{ background-position: -114px -798px; width: 18px; height: 18px; } 
.spr-strike_through{ background-position: -114px -836px; width: 18px; height: 18px; } 
.spr-sun{ background-position: -114px -874px; width: 18px; height: 18px; } 
.spr-target{ background-position: -114px -912px; width: 18px; height: 18px; } 
.spr-thunder{ background-position: -114px -950px; width: 18px; height: 18px; } 
.spr-trash_can{ background-position: -114px -988px; width: 18px; height: 18px; } 
.spr-underlined{ background-position: -114px -1026px; width: 18px; height: 18px; } 
.spr-undo{ background-position: -114px -1064px; width: 18px; height: 18px; } 
.spr-upload2{ background-position: -114px -1102px; width: 18px; height: 18px; } 
.spr-usb{ background-position: -114px -1140px; width: 18px; height: 18px; } 
.spr-user{ background-position: -114px -1178px; width: 18px; height: 18px; } 
.spr-user_woman{ background-position: -114px -1216px; width: 18px; height: 18px; } 
.spr-volume_control{ background-position: -114px -1254px; width: 18px; height: 18px; } 
.spr-webcam{ background-position: -114px -1292px; width: 18px; height: 18px; } 
.spr-window{ background-position: -114px -1330px; width: 18px; height: 18px; } 
.spr-wizard{ background-position: -114px -1368px; width: 18px; height: 18px; } 
.spr-world{ background-position: -114px -1406px; width: 18px; height: 18px; } 
.spr-zoom{ background-position: -114px -1444px; width: 18px; height: 18px; } 
.spr-zoom_in{ background-position: -114px -1482px; width: 18px; height: 18px; } 
.spr-zoom_out{ background-position: -114px -1520px; width: 18px; height: 18px; } 