
body{ background: #fff url(../img/loader.gif) no-repeat center center;height: 100%;width: 100%; overflow: hidden}

form, html, body {
    margin: 0 !Important;
    padding: 0 !Important;
    border: none !Important;
    font-size: 12px;

}

h1{
	color: #b3b3b3 !Important;
	font-size: 18px !Important;
	font-weight: normal !Important;
	line-height: 18px !Important;
}

h2{ color: #414141;font-size: 20px;border-bottom: 1px solid #efefef; font-weight: normal}
h3{ color: #414141;font-weight: normal;font-size: 18px; line-height: 28px}

label{padding-top: 8px !Important;}
a{color: #2E8AEA}

.umb-panel{
	background: #fff;
}
.umb-panel-header{
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
    height: 90px;
}
.umb-panel-body{
	background: #f8f8f8;
	padding: 15px;	
}

.umb-panel-header h1{margin: 0px; padding-top: 17px;}
.float-left{float: left;}
.umb-el-wrap{max-width: 800px; position: relative; padding: 0px; margin: 0px; padding-left: 20px; }
.umb-no-gutter{margin-left: 0px !Important;}
.umb-icon-label{padding-top: 4px; padding-left: 25px;}
.umb-icon-label i{margin-left: -20px;}

.dashboard h1{float: none; padding-top: 25px;}

small.umb-detail, label small{color: #b3b3b3 !Important; text-decoration: none;display: block; font-weight: normal }

/* CUSTOM STYLES ADDED TO BOOTSTRAP elements */

/* TABS */

.tabbable .umb-panel-body{padding: 0px;}
.umb-nav-tabs{
    padding-top: 0px; margin-top: 0px; margin-bottom: 0px; border-bottom: none; clear: both;}


.umb-nav-tabs li a{border-radius: 0; color: #333; padding: 5px 15px 5px 15px;}
.umb-nav-tabs li a:hover, .umb-nav-tabs li.open a.dropdown-toggle{}

.umb-nav-tabs li.active a{color: #000; background: #f8f8f8; border-color: #e9e9e9; border-bottom-color: #f8f8f8}
.umb-nav-tabs li .caret{margin-top: 16px !Important; border-top-color: #828282 !Important;}
.umb-nav-tabs .dropdown-menu a{line-height: 20px}

.umb-tab-pane{padding: 0px 20px 0px 20px;}


/* ICON TOOLBAR */
.umb-btn-toolbar{margin-top: 17px; }
.umb-panel-buttons .umb-btn-toolbar{padding-left: 0px; float: right; text-align: right}



/*BUTTONS */
.btn{ background-image: none !Important;background-color: #f5f5f5;
      margin-left: 10px !Important; border-radius: 2px !Important;   
      border:1px solid #dbdbdb;color: #101010;font-size: 12px !Important; text-shadow: none !Important}

.btn-primary{ background-color: #53a93f;border:1px solid #4c993a;color: #fff;}
.btn-primary a{color: #fff !Important; }
.btn-primary.disabled, .btn-primary[disabled] { background-color: #246BB5 !Important;cursor: not-allowed; }
.btn-primary:hover{ background-color: #4c993a !Important;}
.btn-link{ background-color: none;border: none;}



/* CONTEXT MENU */
.umb-actions{margin: 12px 0px 0px 0px; padding: 0px; list-style: none; }
.umb-actions ul{}
.umb-actions li.sep{margin: 3px 15px 3px 35px; height: 1px; background: #efefef;}
.umb-actions a{white-space: nowrap; display: block; font-size: 12px; color: #414141; padding: 3px 25px 3px 10px;  text-decoration: none;}
.umb-actions a:hover, .umb-actions li.selected{color: #fff; background: url(tree-item-background.gif) repeat-x top #2e8aea; }
.umb-actions a:hover i{color: #fff;}
.umb-actions .menuLabel{display: inline-block;vertical-align: middle; padding-left: 10px;padding-top: 2px; text-transform: capitalize }
.umb-actions .umb-menu-icon{margin-top: 2px;  font-size: 14px;vertical-align: middle; color: #414141}

.umb-actions-child {
    list-style: none;
    padding-left: 0px;
    margin: 15px -25px 0px -25px;
    display: block;
}

.umb-actions-child li {
        display: block;width: 100%; min-height: 55px
}

.umb-actions-child a.action{ display: block; clear: both;text-decoration: none;width: 100%; }
.umb-actions-child li .menuLabel{font-size: 12px; min-height: 55px; margin-bottom: 10px; margin-left: 95px;  color: #000}
.umb-actions-child li a:hover{ color: #fff; background-color: #2E8AEA }
.umb-actions-child li a:hover *{color: #fff !Important}

.umb-actions-child li .menuLabel small{ font-size: 11px; display: block; clear: right; line-height: 12px; color: #999}
.umb-actions-child li a:hover .menuLabel small{ text-decoration: none !Important}
.umb-actions-child li img{ height: 55px;width: 55px; float: left; margin-left: 25px}


/* PROPERTY EDITORS */
.umb-control-group{border-bottom: 1px solid #e9e9e9; padding-bottom: 20px; padding-top: 15px !Important; margin-bottom: 0px !Important}
.umb-control-group .umb-el-wrap{padding-left: 0px}
.umb-control-group label.control-label{text-align: left}
.umb-control-group label .help-block, .umb-control-group label small{font-size: 11px; color: #a0a0a0; line-height: 13px; padding-top: 5px;}
.umb-nolabel .controls{ margin-left: 0px; }

.umb-full-editor{ padding: 0px;border: none; margin: 0px !Important }
.umb-full-editor .umb-el-wrap { padding-left: 20px;}
.umb-full-editor .umb-btn-toolbar{ padding-left: 0px;}

.controls-row{padding-top: 5px; margin-left: 240px !Important;}
.controls-row label{display: inline-block}


.controls-row textarea, .controls-row input.textstring{
    width: 550px;
    border: 1px solid #dad9d9;
    background: #fff;
}




/* MISC FORM ELEMENTS */
.umb-form-actions{background: none; border: none}
.datepicker td.active,
.datepicker td span.active{ background: #f3762c !Important;}
.umb-datetime-picker div.info{vertical-align: middle}

.umb-userwidget img{float: left; margin-right: 15px;}
.umb-userwidget small{display: block}
.popover-title{display: none}
.umb-buttons{ text-align: right; padding: 15px; margin-top: 30px;clear: both; border-top: #efefef 1px solid}



/* TREE */                                                                     /* TREE */
.umb-tree{ list-style: none;margin: 0px; min-width: 100%; width: auto;}
.umb-tree li{ display: block; min-width: 100%; width: auto; display: block}

.umb-tree li.current > div{background: #2e8aea;}
.umb-tree li.current > div a, 
.umb-tree li.current > div i.umb-options, .umb-tree li.current > div i.icon{color: #fff}

/*.umb-tree li.current > div .umb-spr, .umb-tree li.current > div .umb-options{ -webkit-filter: invert(); }*/

.umb-tree li.root div{padding-left: 20px}

.umb-tree *{white-space: nowrap}
.umb-tree ul{ padding: 0px;margin: 0px; min-width: 100%; width: 100%; display: table}
.umb-tree a{vertical-align: middle;  color: #525252; font-size: 12px; line-height: 16px; height: 14px; display: inline-block;}
.umb-tree a.root-link{text-transform: uppercase; color: #414141; font-size: 13px; }


.umb-tree div{ vertical-align: middle; padding: 2px 0px 2px 0px;}
.umb-tree a.noSpr{background-position: 0 }
.umb-tree div > i.umb-options{ visibility: hidden; vertical-align: text-bottom; margin-left: 7px;margin-right: 7px; font-size: 10px}
.umb-tree div:hover > i.umb-options{ visibility: visible; }

.umb-tree li.root > div a{text-transform: uppercase; color: #414141;font-weight: bold; }

.umb-tree ins{vertical-align: middle; background: url(tree-arrow.png) no-repeat center center; margin-left: -16px; width: 16px; height: 16px; display: inline-block;visibility: hidden; }
.umb-tree li:hover ins{ visibility: visible;}
.umb-tree .icon{ vertical-align: middle; margin: 1px 13px 1px 0px; color: #414141}
.umb-tree i.noSpr
{
    display: inline-block;
	margin-top: 1px;
	width: 16px;
	height: 16px;
    line-height: 16px;
	
}


/* content picker */
.umb-contentpicker-popover .search-holder{padding: 10px;}



/* CODEMIRROR DATATYPE */
div.umb-codeeditor {
    border: 1px solid #e8e8e8;}
div.umb-codeeditor .umb-el-wrap{ padding: 0px;}
div.umb-codeeditor .umb-btn-toolbar{ padding: 0px;margin: 0px;border-bottom: #e8e8e8 1px solid; background: #f7f7f7 }



input.umb-inline-editing-editor {
    color: #626263 !Important;
	font-size: 22px !Important;
	font-weight: normal !Important;
	line-height: 22px !Important;
    height: 22px;
    padding-top: 17px;
    padding-left: 0px;
    width: 300px;
    display: none;   
    border: none; background: none !Important; border-bottom: 1px dashed #626263 !Important; box-shadow: none !Important; -webkit-transition: none;
}


.umb-fileupload .preview{ border-radius: 5px;border: 1px solid #a0a0a0;padding: 3px;background: #efefef;float: left;margin-right: 30px; margin-bottom: 30px }
.umb-fileupload ul{ list-style: none;vertical-align: middle; margin-bottom: 0px}
.umb-fileupload label{ vertical-align: middle;padding-left: 7px; font-weight: normal}
.umb-fileupload .preview-file{ color: #666;height: 45px;width: 55px;text-align: center;text-transform: uppercase;font-size: 10px; padding-top: 27px}
.umb-fileupload input{font-size: 12px}


.umb-scrollable, .umb-auto-overflow{ overflow: auto;}
.umb-abstract{ margin-top: 15px;margin-bottom: 15px;font-size: 13px; color: #414141}


/* DASHBOARD */
.dashboardHideLink{ display: none; }
.dashboardWrapper{ position: relative}
.dashboardWrapper h2{ padding: 0px 0px 0px 45px}
.dashboardWrapper h3{ font-size: 14px; font-weight: bold}
.dashboardIcon{ position: absolute; top: 2px; left: 2px }


/* NOTIFICATIONS */
#umb-speechbubble {
    position: absolute;
    bottom: 0px;
    right: 20%;
    width: 60%;
    
    border-bottom: none;
    margin: auto;
    padding: 0px;
    border: none;
    background: none;
    border-radius: 0;
}
#umb-speechbubble ul {
    list-style: none;
    margin: 0}
#umb-speechbubble li{ color: #fff; padding: 5px 30px 5px 15px; text-shadow: none; font-size: 12px; 
    margin: auto;
    border: none;
    border-radius: 0;}


/* POPOVER*/
.umb-popover.under::before {content: ' '; top: 0px; left: 6px; position: absolute; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #E8E8E8; }
.umb-popover.under::after {content: ' '; top: -1px; left: 5px; position: absolute; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #303030; }
.umb-popover.over::before {content: ' '; bottom: 0px; left: 6px; position: absolute; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #E8E8E8; }
.umb-popover.over::after {content: ' '; bottom: -1px; left: 5px; position: absolute; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid #303030; }

.umb-popover-wrap{ position: relative;}
.umb-popover{border:#f8f8f8 6px solid;; 
             padding: 5px; z-index: 9999; position: absolute; left: 10px; background: #fff; 
             box-shadow: 3px 3px 7px #dbdbdb;}

.umb-popover-dialog .umb-searh-field{font-size: 12px}
i.umb-tree-icon{ font-size: 14px;}
.umb-popover-dialog {float: left; }
.umb-popover-dialog .umb-pane-left{ float: left; padding:10px 0;}

.umb-popover-dialog .umb-pane-left > .umb-actions > li {cursor: pointer; padding: 0 10px;line-height: 24px;font-size: 12px; }
.umb-popover-dialog .umb-pane-left > .umb-actions > li.sep { margin: 5px 10px; border-color: #ccc}
.umb-popover-dialog .umb-pane-left > .umb-actions > li > i { vertical-align: middle; }

.umb-popover-dialog .umb-pane-left > .umb-buttons {padding: 10px 0px 0px 0px; text-align: center;margin-top: 0px;border: none;}
.umb-popover-dialog .umb-form-panel{ float: left; padding:10px !important;}
.umb-popover-dialog .umb-form-panel .control-group { margin-bottom: 5px; }
.umb-popover-dialog .umb-form-panel .umb-checkbox { line-height: 27px; }
.umb-popover-dialog .umb-form-panel .umb-radio { width: 37px; }

.umb-popover-dialog .umb-actions { margin-top: 0; max-height: 330px; min-height: 330px; width: 255px; color: #fff; }
.umb-popover-dialog .umb-pane-search { padding:0 5px 5px 5px; }


/* TABLE */
.umb-table { table-layout: fixed; word-wrap: break-word; }
.umb-no-border { border: none !important; } 

/* LABELS */
/* Green: OK & succesful messages */
.umb-label-publish { background-color: #299416; }

/* Red: Negative or important messages */
.umb-label-error,
.umb-label-notfound,
.umb-label-delete { background-color: #9f1616; }

/* Blue: Info messages */
.umb-label-create,
.umb-label-save,
.umb-label-move,
.umb-label-copy,
.umb-label-sort,
.umb-label-notify,
.umb-label-assigndomain,
.umb-label-publicaccess
{
    background-color: #2E8AEA;
    white-space: nowrap;
}

/* Orange: Warning messages */
.umb-label-system,
.umb-label-custom,
.umb-label-packagerinstall,
.umb-label-packageruninstall,
.umb-label-rollback,
.umb-label-unpublish
 {
    background-color: #df9517;
}
