/* CONTAINS ALL HACKS AND OTHER QUICK-FIXES THAT WE MUST HANDLE BEFORE A RELEASE */

.controls-row img {
max-width: none;
}

/*Hack*/
.thumbnail img {max-width: 100% !Important;}

/* Should be in a seperate colors css */
body{
 	background: #fff url(../img/loader.gif) no-repeat center center;height: 100%;width: 100%; overflow: hidden
}


/* CUSTOM CSS for texarea and textstring, we need to seperate these from the core style */
.controls-row textarea, .controls-row input.textstring{
    width: 550px;
    border: 1px solid #dad9d9;
    background: #fff;
}