.sprTreeDeveloperCacheItem {background-position: -6px -8px ! important;}
.sprTreeDeveloperCacheTypes {background-position: -6px -40px ! important;}
.sprTreeDeveloperMacro {background-position: -6px -72px ! important;}
.sprTreeDeveloperPython {background-position: -6px -104px ! important; width: 15px; height: 15px}
.sprTreeDeveloperRegistry {background-position: -6px -135px ! important;}

.sprTreeDoc {background-position: -52px -676px;}
.sprTreeDoc2 {background-position: 0 -546px;}
.sprTreeDoc3 {background-position: 0 -546px;}
.sprTreeDoc4 {background-position: -52px -676px;}
.sprTreeDoc5 {background-position: 0 -546px;}
.sprTreeDocPic {background-position: -52px -676px;}

.sprTreeFolder {background-position: -52px -1716px;}
.sprTreeFolder_o {background-position: -52px -1716px;}

.sprTreeMediaFile {background-position: -104px -598px;}
.sprTreeMediaMovie {background-position: -104px -598px;}
.sprTreemediaFile {background-position: -104px -598px;}
.sprTreeMediaPhoto {background-position: -130px -182px;}
.sprTreeMember {background-position: -6px -583px ! important;}
.sprTreeMemberGroup {background-position: -6px -615px ! important;}
.sprTreeMemberType {background-position: -6px -647px ! important;}
.sprTreeNewsletter {background-position: -6px -679px ! important;}
.sprTreePackage {background-position: -6px -711px ! important;}
.sprTreeRepository {background-position: -6px -743px ! important;}
.sprTreeSettingAgent {background-position: -6px -775px ! important;}
.sprTreeSettingCss {background-position: -6px -807px ! important;}
.sprTreeSettingCssItem {background-position: -6px -839px ! important;}
.sprTreeSettingDataType {background-position: -6px -871px ! important;}
.sprTreeSettingDataTypeChild {background-position: -6px -903px ! important;}
.sprTreeSettingDomain {background-position: -6px -935px ! important;}
.sprTreeSettingLanguage {background-position: -6px -967px ! important;}
.sprTreeSettingScript {background-position: -6px -999px ! important;}
.sprTreeSettingTemplate {background-position: -6px -1031px ! important;}
.sprTreeSettingXml {background-position: -6px -1063px ! important;}
.sprTreeStatistik {background-position: -6px -1095px ! important;}
.sprTreeUser {background-position: -6px -1127px ! important;}
.sprTreeUserGroup {background-position: -6px -1159px ! important;}
.sprTreeUserType {background-position: -6px -1191px ! important;}
.sprNew{background-position: 0 -78px; }