<umb-panel>

    <umb-tab-view>

        <umb-tab
            name="tab.name"
            alias="tab.alias"
            ng-repeat="tab in content.tabs">

            <umb-property
                label="prop.label"
                alias="prop.alias"
                ng-repeat="model in tab.properties">

            </umb-property>

        </umb-tab>

        <umb-tab name="Hej hej" alias="properties">

            <p>Props tab</p>

        </umb-tab>

    </umb-tab-view>

</umb-panel>
