<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%_i%>Back Office<%/i%></h1>
    <p class="lead"><%_i%>These items are common terms and concepts that are used throughout the Umbraco backoffice.<%/i%></p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#grid-system"><i class="icon-chevron-right"></i> <%_i%>Grid System<%/i%></a></li>
          <li><a href="#section-bar"><i class="icon-chevron-right"></i> <%_i%>Section bar<%/i%></a></li>
        </ul>
      </div>
      <div class="span9">





        <!-- Grid system
        ================================================== -->
        <section id="grid-system">
          <div class="page-header">
            <h1><%_i%>1. Grid system<%/i%></h1>
          </div>
          <p class="lead"><%_i%>The grid system is a design tool that help and achieve visuel unity across Umbraco. The grid system is built on top of <a href="http://twitter.github.io/bootstrap/index.html">Twitter Bootstrap</a>.<%/i%></p>
          <img src="assets/img/umbraco/grid.png" alt="">
        </section>

        <!-- Section bar
        ================================================== -->
        <section id="section-bar">
          <div class="page-header">
            <h1><%_i%>2. Section Bar<%/i%></h1>
          </div>
          <div class="row-fluid">
          <div class="span2">
            <img src="assets/img/umbraco/sections.gif" alt="">
          </div>
          <p><%_i%>The section bar on the left contains a avatar and access to all sections: 
            <ul>
              <li>Content</li>
              <li>Media</li>
              <li>Settings</li>
              <li>Developer</li>
            </ul>Contains the bar more than 5 icons appears an icon an extra icon. By clicking on this a new section bar appear. Avatar picture disappears and instead produce a back arrow.<%/i%></p>
          <p><%_i%>Fører man musen over Content sektionen slider Content træet [link til træ] ind. Fra Content træet har man via en hierarkisk list overblik over hele ens content struktur.  <%/i%></p>
          <p><%_i%>I sections baren har man også direkte adgang til Hjælp. <%/i%></p>
</div>
          
        </section>



      </div><%! /span9 %>
    </div><%! row%>

  </div><%! /.container %>
