<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%_i%>Back Office<%/i%></h1>
    <p class="lead"><%_i%>These items are common terms and concepts that are used throughout the Umbraco backoffice.<%/i%></p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#grid-system"><i class="icon-chevron-right"></i> <%_i%>Grid System<%/i%></a></li>
          <li><a href="#section-bar"><i class="icon-chevron-right"></i> <%_i%>Section bar<%/i%></a></li>
        </ul>
      </div>
      <div class="span9">





        <!-- Grid system
        ================================================== -->
        <section id="grid-system">
          <div class="page-header">
            <h1><%_i%>1. Grid system<%/i%></h1>
          </div>
          <p class="lead"><%_i%>The grid system is a design tool that help and achieve visuel unity across Umbraco. The grid system is built on top of <a href="http://twitter.github.io/bootstrap/index.html">Twitter Bootstrap</a>.<%/i%></p>
          <img src="assets/img/umbraco/grid.png" alt="">
        </section>

        <!-- Section bar
        ================================================== -->
        <section id="section-bar">
          <div class="page-header">
            <h1><%_i%>2. Section Bar<%/i%></h1>
          </div>
          <p class="lead"><%_i%>The section bar on the left side contain a avatar and 5 default sections: Content, Media, Users, Settings, Developer. Contains the bar more than 5 icons an an extra icon appears. By clicking this a new section bar appear. Se animation. The avatar picture disappears and instead a back arrow appears.<%/i%>
          </p>
          <div class="row-fluid">
          <div class="span2">
            <img src="assets/img/umbraco/sections.gif" alt="">
          </div>
          <div class="span10">
          
            <table class="table table-bordered table-striped">
            <colgroup>
              <col class="span1">
              <col class="span7">
            </colgroup>
            <thead>
              <tr>
                <th>Icon</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="assets/img/umbraco/avatar.png" alt="Avatar">
                </td>
                <td>Avatar. The login in users avatar.</td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/umbraco/content.png" alt="Content">
                </td>
                <td>Content</td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/umbraco/media.png" alt="Content">
                </td>
                <td>Media</td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/umbraco/users.png" alt="Users">
                </td>
                <td>Users</td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/umbraco/settings.png" alt="Settings">
                </td>
                <td>Settings</td>
              </tr>
              <tr>
                <td>
                  <img src="assets/img/umbraco/developer.png" alt="Developer">
                </td>
                <td>Developer</td>
              </tr>  
              <tr>
                <td>
                  <img src="assets/img/umbraco/more.png" alt="More">
                </td>
                <td>More</td>
              </tr>
            </tbody>
          </table>
          </div>
        </section>

         <!-- Tree
        ================================================== -->
        <section id="Tree">
          <div class="page-header">
            <h1><%_i%>3. Tree<%/i%></h1>
          </div>
          <p class="lead"><%_i%>The tree is an hierarchical list of items related (and usually restricted) to a specific concept, which could be something like a content tree or a media tree.<%/i%></p>
          <div class="row-fluid">
            <div class="span7">
              <img src="assets/img/umbraco/tree.gif" alt="">
            </div>
              The images contain tree stages. Normal, hover and active.
          </div>
          
        </section>



      </div><%! /span9 %>
    </div><%! row%>

  </div><%! /.container %>
