<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%_i%>Umbraco 7 FAQ<%/i%></h1>
    <p class="lead"><%_i%>This documentation is for the newly released Umbraco 7.<%/i%></p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#what-is-umbraco-7"><i class="icon-chevron-right"></i> <%_i%>What is Umbraco 7?<%/i%></a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> <%_i%>Where is my sections?<%/i%></a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> <%_i%>What are some of the important additions and changes in Umbraco 7?<%/i%></a></li>
        </ul>
      </div>
      <div class="span9">





        <!-- Why Umbraco
        ================================================== -->
        <section id="grid-system">
          <div class="page-header">
            <h1><%_i%>1. Umbraco 7<%/i%></h1>
          </div>
          <p class="lead"><%_i%>Umbraco 7 (fka <a href="http://en.wikipedia.org/wiki/Belle_(Disney_character)">Belle</a>) is development of a new user experience for Umbraco. With 100% focus on content editors and their workflows.<%/i%></p>
        </section>

  

      </div><%! /span9 %>
    </div><%! row%>

  </div><%! /.container %>
