<div class="jumbotron masthead">
  <div class="container">
    <h1>Belle</h1>
    <p>UI Project for Umbraco 7 - built on AngularJS and Bootstrap</p>
  </div>
</div>


<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=umbraco&repo=Belle&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=umbraco&repo=Belle&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/umbraco" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true"><%_i%>Follow @umbraco<%/i%></a>
      </li>
    </ul>
  </div>
</div>

<div class="container">


  <div class="marketing">

    <h1><%_i%>Belle Du Barry<%/i%></h1>
    
    <div class="row-fluid">
      <div class="span4">
        <h2><%_i%>Javascript<%/i%></h2>
        <p>
          <%_i%>Belle uses AngularJS as its javascript application framework, require.js for dependency handling and jquery + underscore for various bits and bobs.<%/i%>
        </p>
      </div>

      <div class="span4">
        <h2><%_i%>Css 3<%/i%></h2>
        <p><%_i%>
          We use Twitter bootstrap for a clean CSS baseline and for having solid conventions for a responsive grid.On top, we add our own dash of color. 
          <%/i%></p>
      </div>
      <div class="span4">
        <h2><%_i%>html 5<%/i%></h2>
        <p><%_i%>
          Belle uses HTML 5 and all the benefits you gain from it, and is expected to work in IE10+, Chrome, Safari and firefox. 
          <%/i%></p>
      </div>
    </div>

    <hr class="soften">

  </div><%! /.marketing %>

</div><%! /.container %>
