<button class="btn">Create</button>
<input type="text" placeholder="Start typing something…">
<table class="table table-striped">
		<thead>
			<tr><td><input type="checkbox"></td><td>Name </td><td>Last Update</td> <td>Editor</td>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>			

		</tbody>
</table>
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>