<div class="row-fluid">
 <div class="btn-group span8">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Create <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-pencil"></i> Unpublish</a></li>
    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
  </ul>
</div>

    <div class="input-prepend offset4">
      <span class="add-on"><i class="icon-filter"></i></span>
      <input id="inputIcon" type="text" placeholder="Start typing something…">
</div>
</div>
<table class="table table-striped">
		<thead>
			<tr>
				<td><input type="checkbox"></td>
				<td><a href="#">Name <i class="icon-sort"></i></a></td>
				<td><a href="#">Last Update <i class="icon-sort"></i></a></td> 
				<td><a href="#">Editor <i class="icon-sort"></i></a></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td><i class="icon-calendar"></i> Some node</td> 
				<td>Publish: 13:23 3 July 2024</td>
				<td>Admin. Per Ploug Hansen</td>
			</tr>


		</tbody>
</table>
<div class="row-fluid">
<div class="btn-group span4">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Create <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-pencil"></i> Unpublish</a></li>
    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
  </ul>
</div>
<div class="pagination span8">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
</div>