@using Umbraco.Belle.Controllers
@using Umbraco.Web
@model dynamic

@section Headder
{
    <style type="text/css">
        body {
            font-family: sans-serif;
        }
        input.ng-invalid.ng-dirty
        {
            background-color: #FA787E;
        }

        input.ng-valid.ng-dirty
        {
            background-color: #78FA89;
        }

        .content-properties {
            border: 1px dashed orange;
        }
    </style>    
}

<form name="form" ng-controller="Umbraco.Content.ContentController" ng-submit="save()" novalidate>
    
    <div class="content-properties">
        <div>ID: <span>{{model.id}}</span></div>
        <div>Name: <span>{{model.name}}</span></div>
    </div>

    <div ng-repeat="model in model.properties" style="background-color: #EEEEEE; margin: 5px; padding: 5px;">
        <div style="font-style: italic;">{{model.label}}</div>
        <div style="font-size: 9px;">{{model.description}}</div>

        <div ng-include="model.view"></div>
    </div>
    <hr />
    <button ng-disabled="ui.canSubmit()">Save</button>
    <hr />
    <div>Posting value:</div>
    <div>{{model}}</div>
</form>
