@using Umbraco.Belle.Controllers
@using Umbraco.Web
@model dynamic

 @{
     var serverEnvironmentView = Url.Action("ServerEnvironment", "ServerSidePropertyEditors");
     var postSaveUrl = Url.GetUmbracoApiService<ContentEditorApiController>("PostSaveContent");
 }

@section Headder
{
    <script type="text/javascript">

        function TestController($scope, $http, $log, $filter) {

            $scope.properties = [
                {
                    alias: "numbers",
                    label: "Numeric",
                    description: "Enter a numeric value",
                    view: "/App_Plugins/MyPackage/PropertyEditors/Numeric.html",
                    value: "12345987765",
                    config: {
                        format: "## #### ####"
                    }
                },
                {
                    alias: "serverEnvironment",
                    label: "Server Info",
                    description: "Some server information",
                    view: "@(serverEnvironmentView)",
                    value: ""
                },
                {
                    alias: "complexEditor",
                    label: "Multiple Values",
                    description: "A multi value editor",
                    view: "/App_Plugins/MyPackage/PropertyEditors/CsvEditor.html",
                    value: "My Value 1, My Value 2, My Value 3, My Value 4, My Value 5"
                }
            ];

            $scope.valueToPost = [];

            $scope.save = function() {
                $scope.valueToPost = [];
                for (var p in $scope.properties) {
                    $scope.valueToPost.push({
                        alias: $scope.properties[p].alias,
                        value: $scope.properties[p].value
                    });
                }
                
                $http.post('@(postSaveUrl)', $scope.valueToPost).
                    success(function(data, status, headers, config) {
                        alert("success!");
                    }).
                    error(function(data, status, headers, config) {
                        alert("failed!");
                    });
            };

        };
    </script>
}

<form ng-controller="TestController" ng-submit="save()" style="font-family:sans-serif;">
    
    <div ng-repeat="model in properties" style="background-color:#EEEEEE;margin:5px;padding:5px;">
        <div style="font-style:italic;">{{model.label}}</div>
        <div style="font-size:9px;">{{model.description}}</div>
        
        <div ng-include="model.view"></div>
    </div>
    <hr/>
    <button>Save</button>
    <hr/>
    <div>Posting value:</div>
    <div>{{valueToPost}}</div>
</form>
