@using Umbraco.Belle.Controllers
@using Umbraco.Web
@model dynamic

 @{
     var serverEnvironmentView = Url.Action("ServerEnvironment", "ServerSidePropertyEditors");
     var postSaveUrl = Url.GetUmbracoApiService<ContentEditorApiController>("PostSaveContent");
 }

@section Headder
{
    <script type="text/javascript">

        Umbraco.Sys.registerNamespace("TestNamespace");

        TestNamespace.TestController = function($scope, $http, $log, $filter) {

            $scope.properties = [
                {
                    alias: "numbers",
                    label: "Numeric",
                    description: "Enter a numeric value",
                    view: "/App_Plugins/MyPackage/PropertyEditors/Numeric.html",
                    value: "12345987765",
                    config: {
                        format: "## #### ####"
                    }
                },
                {
                    alias: "serverEnvironment",
                    label: "Server Info",
                    description: "Some server information",
                    view: "@(serverEnvironmentView)",
                    value: ""
                },
                {
                    alias: "complexEditor",
                    label: "Multiple Values",
                    description: "A multi value editor",
                    view: "/App_Plugins/MyPackage/PropertyEditors/ComplexEditor.html",
                    value: "My Value 1, My Value 2, My Value 3, My Value 4, My Value 5"
                }
            ];

            $scope.save = function() {
                var valueToPost = [];
                for (var p in $scope.properties) {
                    valueToPost.push({
                        alias: $scope.properties[p].alias,
                        value: $scope.properties[p].value
                    });
                }

                $log.info("Sending data: " + $filter("json")(valueToPost));

                $http.post('@(postSaveUrl)', valueToPost).
                    success(function(data, status, headers, config) {
                        alert("success!");
                    }).
                    error(function(data, status, headers, config) {
                        alert("failed!");
                    });
            };

        };
    </script>
}

<form ng-controller="TestNamespace.TestController" ng-submit="save()" style="border: solid 1px orange">
    
    <div ng-repeat="model in properties">
        <div>{{model.description}}</div>
        <span>{{model.label}}</span>
        <div ng-include="model.view"></div>
    </div>
    
    <button>Save</button>
</form>


@*<div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here" />
    <hr />
    <h1>Hello {{yourName}}!</h1>
</div>*@
