@using Umbraco.Belle.Controllers
@using Umbraco.Web
@model dynamic

@section Headder
{
    <style type="text/css">
        input.ng-invalid.ng-dirty
        {
            background-color: #FA787E;
        }

        input.ng-valid.ng-dirty
        {
            background-color: #78FA89;
        }
    </style>    
}

<form name="form" ng-controller="System.Controllers.TestController" ng-submit="save()" novalidate style="font-family: sans-serif;">

    <div ng-repeat="model in properties" style="background-color: #EEEEEE; margin: 5px; padding: 5px;">
        <div style="font-style: italic;">{{model.label}}</div>
        <div style="font-size: 9px;">{{model.description}}</div>

        <div ng-include="model.view"></div>
    </div>
    <hr />
    <button ng-disabled="form.$invalid">Save</button>
    <hr />
    <div>Posting value:</div>
    <div>{{valueToPost}}</div>
</form>
