<script type="text/ng-template"  id="tree_item_renderer.html">
    <div ng-style="setPadding(node)">

    <ins class="toggle" ng-click="getChildren(node)"></ins>
    <i class="icon umb-tree-icon sprTree {{node.icon}}"></i>

    <a ng-href="#{{node.view}}">{{node.name}}</a>
    <i class="icon-cog umb-options" ng-click="openContextMenu(node)"></i>

    <div style="clear: both;"></div>
    </div>

    <ul ng-class="{collapsed: !node.expanded}">
        <li ng-repeat="node in node.children" ng-class="{current:node.id == selectedId}" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>


<div id="umb-searchresults">
    <h5 class='search'>Search results</h5>
</div>

<ul class="umb-tree" ng-controller="TreeController">
    <li class="root">
        <div>   
            <a class="root-link">{{tree.name}}</a><i class="icon-cog umb-options"></i>
        </div>
    
        <ul>
            <li class="file" ng-repeat="node in tree.children" ng-class="{current:node.id == selectedId}" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </li>   
    
    
</ul>